
/* ===== MAIN CONTAINER ===== */
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 8%;
  gap: 50px;
  background: white;
  flex-wrap: wrap;
}

/* ===== LEFT IMAGE ===== */
.about-left {
  flex: 1 1 450px;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #fff, #f5f1eb);
  padding: 20px;
  border-radius: 25px;
}

.about-left img {
  width: 100%;
  max-width: 380px;   
  height: auto;       
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

/* ===== RIGHT CONTENT ===== */
.about-right {
  flex: 1 1 500px;
}

.about-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 15px;
  color: rgb(46, 7, 7); /* rich brown */
}

.about-title::after {
  content: "";
  display: block;
  width: 170px;
  height: 3px;
  background: #c9a96e;
  margin-top: 8px;
}

.about-right h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color:rgb(54, 3, 27);
}

.about-right p {
  font-size: 16px;
  color: #666;
  line-height: 1.8;
  margin-bottom: 15px;
}

/* ===== BUTTON ===== */
.about-btn {
  margin-top: 20px;
  padding: 12px 28px;
 /* background: #8b5e3c;  */
 background:rgb(54, 3, 27);
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about-btn:hover {
  background: #c9a96e; /* gold */
  color: #000;
}

/* ========================= */
/* TABLET */
/* ========================= */
@media (max-width: 992px) {
  .about-container {
    gap: 30px;
    padding: 80px 6%;
  }

  .about-left img {
    height: 350px;
  }

  .about-title {
    font-size: 34px;
  }
}

/* ========================= */
/* MOBILE */
/* ========================= */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-left,
  .about-right {
    width: 100%;
  }

  .about-left img {
    height: 300px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-right p {
    font-size: 15px;
  }
}

/* ========================= */
/* SMALL MOBILE */
/* ========================= */
@media (max-width: 480px) {
  .about-left img {
    height: 250px;
  }

  .about-title {
    font-size: 24px;
  }
}