.checkout-page {
  min-height: 100vh;
  background: #f8f5f0;
  /* background:
    url("../images/contactimg.png") center/cover no-repeat; */
    
  padding: 60px 20px;
  font-family: "Poppins", sans-serif;
}

.checkout-container {
  max-width: 1300px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 0.8fr;
  gap: 40px;
  
}

.checkout-left,
.checkout-right {
  background: white;
  padding: 35px;
  border-radius: 30px solid #432403;
 box-shadow: 0 4px 12px rgba(62, 39, 35, 0.3);
}

.checkout-left h2,
.checkout-right h2 {
  margin-bottom: 25px;
  color: #5c3b1e;
  font-size: 28px;
}

.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.checkout-form input,
.checkout-form textarea {
  width: 100%;
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 14px;
  font-size: 15px;
  outline: none;
}
.checkout-form textarea {
  height: 120px;
  resize: none;
}

.summary-card {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 18px;
  border-bottom: 1px solid #eee;
}

.summary-card img {
  width: 90px;
  height: 90px;
   object-fit: cover;
  border-radius: 16px;

}

.summary-card h4 {
  margin-bottom: 8px;
  color: #222;
}

.summary-total {
  margin-top: 25px;
  font-size: 24px;
  font-weight: 700;
  color: #5c3b1e;
}
.place-order-btn {
  width: 180px;
   display: block;
  margin: 20px auto 0; 

  background: rgb(36, 6, 6);
  color: white;
  border: none;
  padding: 15px;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  justify-content: center;
  align-items: center;
   box-shadow: 0 4px 12px rgba(62, 39, 35, 0.3);
}

.place-order-btn:hover {
  transform: translateY(-2px);
}
@media (max-width: 992px) {

  .checkout-container {
    grid-template-columns: 1fr;
  }
}