/* PAGE */
.collections-page {
  font-family: "Playfair Display", serif;
  background: #f8f5f2;
}

/* HERO */
.collections-hero1 {
    width: 100%;
  height: 80vh;

  background: linear-gradient(
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
    url("../images/hero-jewel.jpg");

  background-size: cover;
  background-position: center;

  position: relative;
}

.hero-content1 {
  
   position: absolute !important;

  right: 60px !important;
  bottom: 5px !important;

  width: 450px;

  color: white;
  text-align: center;

  z-index: 10;
  
}

.hero-content h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;

  margin-bottom: 8px;

  color: white;
  white-space: nowrap;

  text-shadow: 0 3px 10px rgba(0,0,0,0.6);
}

.hero-content p {
  font-size: 18px;
  line-height: 1.7;

  color: #f2f2f2;

  text-shadow: 0 3px 10px rgba(0,0,0,0.6);
}

/* GRID */
.collections-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 60px;
}

/* CARD */
.collection-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}

.collection-card:hover {
  transform: translateY(-8px);
}

/* IMAGE */
.image-box {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTENT */
.card-content {
  padding: 20px;
  text-align: center;
}

.card-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}

/* BUTTON */
.card-content button {
  background: #6b4f3b;
  color: #fff;
  border: none;
  padding: 10px 22px;
  cursor: pointer;
  border-radius: 30px;
  font-size: 14px;
  transition: 0.3s;
}

.card-content button:hover {
  background: #4a3628;
}

/* RESPONSIVE */

/* Tablet */
@media (max-width: 1024px) {
  .collections-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 40px;
  }

  .hero-content h1 {
    font-size: 40px;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .collections-hero {
    height: 50vh;
    padding: 30px;
  }

  .hero-content h1 {
    font-size: 28px;
  }

  .collections-grid {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .image-box {
    height: 200px;
  }
}