/* Banner */
.contact-banner {
  width: 100%;
  height: 550px;
  background: url("../images/contactimg.png") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 80px;
}

/* Main Section */
.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  background: white;
  font-family: "Georgia", serif;
}

/* Left Side */
.contact-left {
  width: 45%;
}

.contact-left h1 {
  font-size: 40px;
  color:rgb(46, 7, 7);
  margin-bottom: 20px;
}

.contact-left p {
  color: #413c3c;
  line-height: 1.6;
}

.contact-info p {
  margin-top: 10px;
}

/* Right Side (Form) */
.contact-right {
  width: 45%;
}

.contact-right form {
  display: flex;
  flex-direction: column;
}

.contact-right input,
.contact-right textarea {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  outline: none;
}

.contact-right textarea {
  height: 120px;
}

.contact-right button {
  /* padding: 12px;
  background: rgb(46, 7, 7);
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s; */
padding: 10px 22px; /* smaller height and width */
  background: rgb(46, 7, 7);
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;     /* smaller text */
  border-radius: 4px;  /* optional */
  width: fit-content;   /* keeps button small */
  display: inline-block;
    /* prevents full width */
}

.contact-right button:hover {
  background: black;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 40px 20px;
  }

  .contact-left,
  .contact-right {
    width: 100%;
  }

  .contact-left h1 {
    font-size: 30px;
  }
}