/* MAIN CONTAINER */

.auth-container {
  display: flex;
  width: 75%;
  height: 85vh;
  margin: 40px auto;
  background: #fff;
  overflow: hidden;
  border-radius: 10px;
}

/* LEFT SIDE IMAGE */

.auth-left {
  flex: 1;
  height: 100%;
  background: url("../images/jewelry-bg.png") no-repeat center;
  background-size: cover;
  position: relative;
  padding: 20px;
}

/* DARK OVERLAY */

.auth-left::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.2),
    transparent
  );
}

.auth-left::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to top,
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.2),
    transparent
  );
}

/* TEXT OVER IMAGE */

.overlay-text {
  position: absolute;
  bottom: 50px;
  left: 20px;
  right: 20px;
  color: #fff;
  z-index: 2;
}

.auth-left {
  overflow: hidden;
}

.overlay-text h1 {
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.overlay-text p {
  font-size: 14px;
  opacity: 0.9;
  line-height: 1.5;
}

/* RIGHT SIDE */

.auth-right {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

/* CARD */

.auth-card {
  width: 100%;
  max-width: 320px;
}

/* LOGO */

.logo {
  color: #b08d57;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
}

/* TITLE */

.title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #4b2e1e;
}

/* INPUTS */

.input-group input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 25px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

/* BUTTON */

.signin-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: rgb(37, 6, 6);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.signin-btn:hover {
  background: rgb(67, 16, 16);
}

/* FOOTER */

.auth-footer {
  margin-top: 15px;
  font-size: 13px;
  text-align: center;
}

.auth-footer span {
  color: #8b5e3c;
  font-weight: bold;
}

/* MOBILE */

@media (max-width: 768px) {

  .auth-container {
    flex-direction: column;
    width: 90%;
    height: auto;
  }

  .auth-left {
    height: 220px;
  }

  .auth-card {
    padding: 30px 20px;
  }
}